<%- include('../partials/header') %>

<section id="show-page">
  <div>Breed: </div>
  <div><%= dog.breed %></div>
  <div>Lifespan (yrs): </div>
  <div><%= dog.lifespan %></div>
  <div>Color: </div>
  <div><%= dog.color %></div>
 
  <div>Activities:</div>
  <ul>
    <%- dog.activity.map(b =>
      `<li>${b.activity}</li>`
    ).join('') %>
  </ul>
</section>

<form id="add-to-breed" action="/dogs/<%= dog._id %>/activities" method="POST">
  <select name="activity">
    <%- activities.map(b =>
      `<option value="${b._id}">${b.activity}</option>`
    ).join() %>
  </select>
  <button type="submit">Add to Dog</button>
</form>
<br></br>
<a href="/dogs/<%= dog._id %>/edit">Edit</a>
<br></br>
<form id="delete-breed" action="/dogs/<%= dog._id %>?_method=DELETE" method="POST">
  <button type="submit">Delete Dog From List</button>
</form>



<%- include('../partials/footer') %>