<%- include('../partials/header') %>

<section id="show-page">
  <div>Breed: </div>
  <div><%= dog.breed %></div>
  <div>Lifespan: </div>
  <div><%= dog.lifespan %></div>
  <div>Color: </div>
  <div><%= dog.color %></div>
  <!-- <div>Select this Breed: </div>
  <div><%= dog.selectBreed ? 'Yes' : 'No' %></div> -->
  <div>Activities:</div>
  <ul>
    <%- dog.activity.map(b =>
      `<li>${b.activity}</li>`
    ).join('') %>
  </ul>
</section>

<form id="add-to-breed" action="/dogs/<%= dog._id %>/activities" method="POST">
  <select name="activity">
    <%- activities.map(b =>
      `<option value="${b._id}">${b.activity}</option>`
    ).join() %>
  </select>
  <button type="submit">Add to Dog</button>
</form>


<%- include('../partials/footer') %>